.imgProducto {
    padding: 10px;
    text-align: center;
    background-color: #f8f8f8;
    width: 200px;
    height: 500px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .imgProducto img {
        bottom: auto 0 0 0;
        max-width: auto;
        max-height: auto;
        transition: transform 0.3s ease-in-out;
    }

