@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/PersonalScripts/Index.js"></script>
<link rel="stylesheet" href="~/Content/MyStyles/EcommerceStyles.css">
<div class="container">
    <div class="row">

    </div>
</div>